.create-account-btn {
    border-radius: 8px;
    /* padding: 0.6em 1.2em; */
    font-family: inherit;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--white);
    background-color: var(--royal-blue);
    border: 1px solid var(--royal-blue);
    transition: border-color 0.25s;
    cursor: pointer;
}

.create-account-btn:hover {
    color: var(--white);
    background-color: var(--royal-blue);
    border-color: var(--white);
}

.create-account-btn:disabled {
    background-color: var(--gray);
    color: var(--white);
    border-color: var(--gray);
    /* opacity: 0.5; */
    cursor: not-allowed;
}
