.button-icon {
    position: absolute;
    right: 0;
    top: 1px;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    height: 1.5rem;
    background-color: transparent;
    /* border: 1px solid green; */
}
