.form-signup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-field {
    width: 60%;
}
