.form-signup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-field {
    width: 60%;
}

.input-password {
    width: 60%;
}

input:focus {
    border-color: red;
    background-color: aqua;
    outline: none; /* Removes the default browser outline */
}

.password-1-error,
.password-2-error {
    color: red;
    font-size: 0.5rem;
    font-style: italic;
}
